.caixas { /*classe estrutural*/
    width: 20%;
    height: 25vh;
    margin: 10px;
    float: left;
    padding: 20px;
    border: 3px solid black;
    text-align: center;
    text-align: justify;
    word-spacing: 2px;
}

.caixa-1 { /*modificar*/
    background-color: #b678fda4;
    
}

.caixa-2 { /*modificar*/
    background-color: #a486c5a4;
}

.caixa-3{ /*modificar*/
    background-color: #e4cdffa4;
}

.secoes {
    border-bottom: 2px solid #b678fda4;
    min-height: 40vh;
}

.campo {
    padding: 5px;
    border: 2px solid #a05aeb;
    border-radius: 5px;
}

.botao {
    padding: 5px;
    border: 2px solid #a05aeb;
    border-radius: 5px;
    background-color: #d9b5ff;
    min-width: 180px;
}

.formulario {
    margin-left: 45%;
}

.imagem-formulario {
    margin-left: 40px;
}

.fonte {
    font-family: georgia;
}

.fonte-titulo {
    font-style: oblique;
}

.paragrafo {
    font-size: 18px;
    font-family: 'georgia';
    font-variant: small-caps;
    text-transform: lowercase;
}

.alinhamento {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box1 {
    background-color: #d9b5ff;
    border: 3px solid black;
    width: 20%; 
    min-height: 40vh;
    padding: 20px;
    text-align: center;
    text-align: justify;
    word-spacing: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.menu a:hover {
    background-color: #a05aeb;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 140%;
}

.cards1 {
    width: 30%;
    height: 40vh;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
}

.cards1 img {
    height: 55%; 
    width: 55%;
}

.cards2 {
    width: 30%;
    height: 40vh;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(164, 215, 198, 0.735);
    text-align: center;
}

.cards2 img {
    height: 55%; 
    width: 55%;
}

.cards3 {
    width: 30%;
    height: 40vh;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(204, 164, 215, 0.735);
    text-align: center;
}

.cards3 img {
    height: 55%; 
    width: 55%;
}

.botão-comprar {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.767);
}

.secao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caixa-estatica {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #3f8be8;
    position: static;
}

.caixa-relativa {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #9332fb;
    position: relative;
    top: 20px;
    bottom: 50px;
    left: 100px;
    right: 70px;
}

.caixa-fixa {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #d9b5ff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.caixa-grudada {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #348b38;
    position: sticky;
    top: 0;
}

.caixa-absoluta {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #a15846;
    position:absolute;
    bottom: 50px;
    z-index: -1; /*para ficar atras das coisas*/
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d9b5ff;
    background-color: #d9b5ff;
    font-size: 20px;
    position: sticky;
    top: 0;
}

header nav {
    text-decoration: none;
    color: black;
    padding: 15px;
}

header ul {

}

header li {
    list-style: none;
} 

header a {
    text-decoration: none;
}

.contato {
    position: fixed;
    bottom: 0;
    right: 0;
}

.contato img {
    height: 50px;
    width: 50px;
}

footer {
    position: fixed;
    bottom: 0;
}

footer img {
    width: 50px;
    height: 50px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

footer li {
   list-style: none;
}

