.cabecalho {
    background-color: blueviolet;
}

.cabecalho__imagem {
    margin-left: 30%;
}

.cabecalho__titulo {
    text-align: center;
    font-size: 50px;
    font-family: ;
}

.cabecalho__subTitulo {

}

.cabecalho__menu {

}