.borda {
    background-color:#93b0db;
    padding: 30px;
}
.fundo {
    background-color: #e5e0d8;
    padding: 30px;
}
.fundo-menor {
    background-color: #ccbae0a4;
    width: 70%;
    padding: 50px;
    margin-left: 15%;
}

.cabecalho {
    background-color: #ccbae0a4;
    padding: 10px;
}   


.cabecalho__titulo {
    text-align: center;
    font-size: 50px;
    font-family: 'tan nimbus';
}

.cabecalho__menu {
    font-family: 'tan nimbus';
    font-size: 20px;
}

.menu {
    list-style-type: none;
    padding: 5px;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.menu a:hover {
    background-color: #ed8ae678;
}

.rodape {
    text-align: center;
}

.bloco-titulo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.texto {
    font-size: 150%;
}


